/*!
 * UnderGrid CSS
 * author: @basilio
 */
/*-------------------------------------- !IMPORTANT, don`t remove or modify this rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*-------------------------------------- Base Container */
.container {
  position: relative;
  clear: both;
  margin: 0 auto;
  width: 960px;
}
@media only screen and ( min-width : 1360px ) {
  .container {
    width: 1200px;
  }
}
@media only screen and ( min-width : 720px ) and ( max-width : 960px ) {
  .container {
    width: 720px;
  }
}
@media only screen and ( max-width : 720px ) {
  .container {
    width: 100%;
  }
}
/*-------------------------------------- Row: grids wrapper */
.row {
  width: auto;
}
.row .row {
  margin: 0 -10px;
}
.row [class*='grid-'] > *:last-child {
  margin-bottom: 0;
}
.row [class*='grid-'] + [class*='grid-']:last-child {
  float: right;
}
.row:after {
  visibility: hidden;
  display: block;
  clear: both;
  height: 0;
  font-size: 0;
  content: " ";
}
* html .row {
  zoom: 1;
}
/*-------------------------------------- General grids properties */
[class*='grid-'] {
  position: relative;
  float: left;
  min-height: 1px;
  margin-bottom: 20px;
  overflow: hidden;
  *overflow: inherit;
  margin-left: 10px;
  margin-right: 10px;
}
/*-------------------------------------- Grids generate */
/* Normal */
.grid-12 {
  width: 940px;
}
.grid-11 {
  width: 860px;
}
.grid-10 {
  width: 780px;
}
.grid-9 {
  width: 700px;
}
.grid-8 {
  width: 620px;
}
.grid-7 {
  width: 540px;
}
.grid-6 {
  width: 460px;
}
.grid-5 {
  width: 380px;
}
.grid-4 {
  width: 300px;
}
.grid-3 {
  width: 220px;
}
.grid-2 {
  width: 140px;
}
.grid-1 {
  width: 60px;
}
/* Responsive Support */
@media only screen and ( min-width : 1360px ) {
  /* Responsive Grid */
  .grid-12 {
    width: 1180px;
  }
  .grid-11 {
    width: 1080px;
  }
  .grid-10 {
    width: 980px;
  }
  .grid-9 {
    width: 880px;
  }
  .grid-8 {
    width: 780px;
  }
  .grid-7 {
    width: 680px;
  }
  .grid-6 {
    width: 580px;
  }
  .grid-5 {
    width: 480px;
  }
  .grid-4 {
    width: 380px;
  }
  .grid-3 {
    width: 280px;
  }
  .grid-2 {
    width: 180px;
  }
  .grid-1 {
    width: 80px;
  }
  /* Transform Grid */
  .grid-large-12 {
    width: 1180px;
  }
  .grid-large-11 {
    width: 1080px;
  }
  .grid-large-10 {
    width: 980px;
  }
  .grid-large-9 {
    width: 880px;
  }
  .grid-large-8 {
    width: 780px;
  }
  .grid-large-7 {
    width: 680px;
  }
  .grid-large-6 {
    width: 580px;
  }
  .grid-large-5 {
    width: 480px;
  }
  .grid-large-4 {
    width: 380px;
  }
  .grid-large-3 {
    width: 280px;
  }
  .grid-large-2 {
    width: 180px;
  }
  .grid-large-1 {
    width: 80px;
  }
}
@media only screen and ( min-width : 720px ) and ( max-width : 960px ) {
  /* Responsive Grid */
  .grid-12 {
    width: 700px;
  }
  .grid-11 {
    width: 640px;
  }
  .grid-10 {
    width: 580px;
  }
  .grid-9 {
    width: 520px;
  }
  .grid-8 {
    width: 460px;
  }
  .grid-7 {
    width: 400px;
  }
  .grid-6 {
    width: 340px;
  }
  .grid-5 {
    width: 280px;
  }
  .grid-4 {
    width: 220px;
  }
  .grid-3 {
    width: 160px;
  }
  .grid-2 {
    width: 100px;
  }
  .grid-1 {
    width: 40px;
  }
  /* Transform Grid */
  .grid-tablet-12 {
    width: 700px;
  }
  .grid-tablet-11 {
    width: 640px;
  }
  .grid-tablet-10 {
    width: 580px;
  }
  .grid-tablet-9 {
    width: 520px;
  }
  .grid-tablet-8 {
    width: 460px;
  }
  .grid-tablet-7 {
    width: 400px;
  }
  .grid-tablet-6 {
    width: 340px;
  }
  .grid-tablet-5 {
    width: 280px;
  }
  .grid-tablet-4 {
    width: 220px;
  }
  .grid-tablet-3 {
    width: 160px;
  }
  .grid-tablet-2 {
    width: 100px;
  }
  .grid-tablet-1 {
    width: 40px;
  }
}
@media only screen and ( max-width : 720px ) {
  /* Responsive Grid */
  .grid-12 {
    width: 90%;
  }
  .grid-11 {
    width: 90%;
  }
  .grid-10 {
    width: 90%;
  }
  .grid-9 {
    width: 90%;
  }
  .grid-8 {
    width: 90%;
  }
  .grid-7 {
    width: 90%;
  }
  .grid-6 {
    width: 90%;
  }
  .grid-5 {
    width: 90%;
  }
  .grid-4 {
    width: 90%;
  }
  .grid-3 {
    width: 90%;
  }
  .grid-2 {
    width: 90%;
  }
  .grid-1 {
    width: 90%;
  }
  [class*='grid-'] {
    float: none;
    margin: 0 auto 20px auto;
  }
  .row .row {
    margin: 0 -5%;
  }
  .row [class*='grid-'] + [class*='grid-']:last-child {
    float: none;
  }
}
/*-------------------------------------- Offset generate */
/* Normal */
.push-12 {
  margin-left: 940px;
}
.push-11 {
  margin-left: 860px;
}
.push-10 {
  margin-left: 780px;
}
.push-9 {
  margin-left: 700px;
}
.push-8 {
  margin-left: 620px;
}
.push-7 {
  margin-left: 540px;
}
.push-6 {
  margin-left: 460px;
}
.push-5 {
  margin-left: 380px;
}
.push-4 {
  margin-left: 300px;
}
.push-3 {
  margin-left: 220px;
}
.push-2 {
  margin-left: 140px;
}
.push-1 {
  margin-left: 60px;
}
/* Responsive Support */
@media only screen and ( min-width : 1360px ) {
  /* Responsive Push */
  .push-12 {
    margin-left: 1180px;
  }
  .push-11 {
    margin-left: 1080px;
  }
  .push-10 {
    margin-left: 980px;
  }
  .push-9 {
    margin-left: 880px;
  }
  .push-8 {
    margin-left: 780px;
  }
  .push-7 {
    margin-left: 680px;
  }
  .push-6 {
    margin-left: 580px;
  }
  .push-5 {
    margin-left: 480px;
  }
  .push-4 {
    margin-left: 380px;
  }
  .push-3 {
    margin-left: 280px;
  }
  .push-2 {
    margin-left: 180px;
  }
  .push-1 {
    margin-left: 80px;
  }
  /* Transform Push */
  .push-large-12 {
    margin-left: 1180px;
  }
  .push-large-11 {
    margin-left: 1080px;
  }
  .push-large-10 {
    margin-left: 980px;
  }
  .push-large-9 {
    margin-left: 880px;
  }
  .push-large-8 {
    margin-left: 780px;
  }
  .push-large-7 {
    margin-left: 680px;
  }
  .push-large-6 {
    margin-left: 580px;
  }
  .push-large-5 {
    margin-left: 480px;
  }
  .push-large-4 {
    margin-left: 380px;
  }
  .push-large-3 {
    margin-left: 280px;
  }
  .push-large-2 {
    margin-left: 180px;
  }
  .push-large-1 {
    margin-left: 80px;
  }
}
@media only screen and ( min-width : 720px ) and ( max-width : 960px ) {
  /* Responsive Push */
  .push-12 {
    margin-left: 700px;
  }
  .push-11 {
    margin-left: 640px;
  }
  .push-10 {
    margin-left: 580px;
  }
  .push-9 {
    margin-left: 520px;
  }
  .push-8 {
    margin-left: 460px;
  }
  .push-7 {
    margin-left: 400px;
  }
  .push-6 {
    margin-left: 340px;
  }
  .push-5 {
    margin-left: 280px;
  }
  .push-4 {
    margin-left: 220px;
  }
  .push-3 {
    margin-left: 160px;
  }
  .push-2 {
    margin-left: 100px;
  }
  .push-1 {
    margin-left: 40px;
  }
  /* Transform Push */
  .push-tablet-12 {
    margin-left: 700px;
  }
  .push-tablet-11 {
    margin-left: 640px;
  }
  .push-tablet-10 {
    margin-left: 580px;
  }
  .push-tablet-9 {
    margin-left: 520px;
  }
  .push-tablet-8 {
    margin-left: 460px;
  }
  .push-tablet-7 {
    margin-left: 400px;
  }
  .push-tablet-6 {
    margin-left: 340px;
  }
  .push-tablet-5 {
    margin-left: 280px;
  }
  .push-tablet-4 {
    margin-left: 220px;
  }
  .push-tablet-3 {
    margin-left: 160px;
  }
  .push-tablet-2 {
    margin-left: 100px;
  }
  .push-tablet-1 {
    margin-left: 40px;
  }
}
