//****************************************************************** GRID CONFIG */
/*-------------------------------------- Default configuration */
@gridBaseContainer:	960px;	// Container Size
@gridColumns:		12;	// Columns to workout
@gridType:		pixels; // Unit type "pixels" or "percentages"
@gridResponsive:	true;	// Responsive enable option "true" or "false"
@gridGutter:		10px;	// Default distance between columns.
@gridGutterInset:	false;	// Gutter as margin or padding, through options "true" or "false"
@gridMarginBottom:	20px;	// Margin bottom between grids

/*-------------------------------------- Responsive size support */
@gridLargeContainer:	1200px;	// Large Screens
@gridTabletContainer:	720px;	// Tablet Screens (portrait)
@gridMobileContainer:	100%;	// Mobile Screens (portrait)

/*-------------------------------------- Responsive media conditions */
@mediaBig: ( ~"only screen and ( min-width : 1360px )");
@mediaTablet: ( ~"only screen and ( min-width : 720px ) and ( max-width : 960px ), only screen and ( min-device-width : 720px ) and ( max-device-width : 960px ) and ( orientation : portrait ) ");
@mediaMobile: ( ~"only screen and ( max-width : 720px ), only screen and ( -webkit-min-device-pixel-ratio : 1.5 ), only screen and ( min-device-pixel-ratio : 1.5 ) ");