//****************************************************************** GRID STYLES */
/*-------------------------------------- !IMPORTANT, don`t remove or modify this rules */
* {
	.box-sizing( border-box );
}
*::before, *::after {
	.box-sizing( border-box );
}

/*-------------------------------------- Base Container */
.container{
	position: relative;
	clear: both;
	margin: 0 auto;
	.container_width();
}

/*-------------------------------------- Row: grids wrapper */
.row{
	width: auto;
	.row{
		margin: 0 ( @gridGutter * -1  );
	}
	(~"@{gridPrefixSelector} > *:last-child"){
		margin-bottom: 0;
	}
	(~"@{gridPrefixSelector} + @{gridPrefixSelector}:last-child"){
		float: right;
	}
}
.row:after{
	visibility: hidden;
	display: block;
	clear: both;
	height: 0;
	font-size: 0;
	content: " ";
}
* html{
	.row{
		zoom: 1;
	}
}

/*-------------------------------------- General grids properties */
(~"@{gridPrefixSelector}"){
	position: relative;
	float: left;
	min-height: 1px; // prevent collapsing columns
	margin-bottom: @gridMarginBottom;
	overflow: hidden;
	*overflow: inherit; // IE7 Hack
	.gutter();
}

/*-------------------------------------- Grids generate */
.grid-generate(@gridColumns);
.grid-generate-responsive(@gridColumns);
/*-------------------------------------- Offset generate */
.push-generate(@gridColumns);
.push-generate-responsive(@gridColumns);