//****************************************************************** EXAMPLE DOCS */
/* Row example - border and margin */
.row.example{
	[class^="g_"]{
		padding-top: @basePadding;
		padding-bottom: @basePadding;
		border: 1px solid @gray;
		& > p{
			padding-left: @basePadding;
			padding-right: @basePadding;
		}
	}
	.row{
		/**
		 * @!IMPORTANT: left-right margin depends of @gridGutter declared on grid-config.less
		 * margin: 0 ( ( @gridGutter + 1) * -1 );
		 **/
		margin: 0 -11px;
	}
}